<address class="contact-block">
  <p>Contact: Dean Orion</p>
  <p>
    <%= mail_to "dean@skyfathermedia.com" do %>
      dean@skyfathermedia.com
    <% end %></p>
  <p>Los Angeles, CA</p> 
  <p>Ph: 310-864-9531</p>
</address>
<div class="socal-media-bar">

  <ul>
    <li><%= link_to 'blog', "http://www.thewritergene.com/blog", :target => "_blank" %>
    </li>
    <li>
        <%= link_to 'imdb', "http://www.imdb.com/name/nm0649870/", :target => "_blank" %>
    </li>
    <li>
        <%= link_to 'linkedin', "https://www.linkedin.com/pub/dean-orion/0/613/b96", :target => "_blank" %>
    </li>
  </ul>
</div>

