<div class="col-xsm-12 col-sm-12 col-md-5 col-lg-5 col-xlg-5">
   <%= image_tag "dean-orion-live-to-write.png", :class => "img-center img-responsive", :title => "Live to write another day cover art" %>
</div>
<div class="col-xsm-12 col-sm-12 col-md-7 col-lg-7 col-xlg-7">
  <p class="rubric rubric-lg"><a data-toggle="modal" data-target="#epkHeadline">The Book</a></p>
  <h1>Live to Write Another Day<small>, A Survival Guide for Screenwriters and Creative Storytellers</small></h1>
  <h2>Live to Write Another Day<small>, A Survival Guide for Screenwriters and Creative Storytellers</small></h2>
  <p>Not too long ago I decided to write a book about my creative writing process, and the many experiences that I have had throughout my career. The inspiration behind it was pretty straightforward. I simply wanted to share what I havve learned over the past 25+ years with other writers.</p>
  <p class="text-right"><a data-toggle="modal" data-target="#epkHeadline">
      more. . .
    </a></p>
  <!-- Button trigger modal -->
</div>