<div class="footer-site">
  <p class="text-center">Entreuse&trade;<br>
    Copyright &copy; 2013 - 2014 Mediapack, Inc., ALL RIGHTS RESERVED
  </p>
  <p class=text-center>Please report any broken links or any site functionality issues<br/>to the <%= link_to "Webmaster at Tenth Muse Creative", "http://tenthmusecreative.com/aboutContact/contact-form.php" %></p>
</div>

<!-- Google Analytics - entreuse at heroku Entreuse.com -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50552404-1', 'entreuse.com');
  ga('send', 'pageview');

</script>