<article class="biography">
  <div class="epk-heading">
    <div class="row">
      <div class="col-xsm-12 col-sm-12 col-md-5 col-lg-5 col-xlg-5">
        <%= image_tag "jp-slackline-image.png", :class => "img-center img-responsive", :title => "Image Placeholder-JP Slackline" %>
      </div>
      <div class="col-xsm-12 col-sm-12 col-md-7 col-lg-7 col-xlg-7">
        <p class="rubric rubric-lg">The Project</p>
        <h2>Headline to Headline: <small>This is where the rubber meets the road: Does your EPK have a Purpose</small></h2>
        <p>Lip lorem in the spyhouse she came. Then Tanagrah flew over the seas to win semack. See high Tanagrah falls. Get up stops a Semacklatte.</p>
        <p class="text-right"><a data-toggle="modal" data-target="#epkHeadline">
            more. . .
          </a></p>
        <!-- Button trigger modal -->
          

      </div>
    </div>
  </div> 
   
   
    
  <h1>
    Dean Orion <small>Personal History</small>
  </h1>
  
  <div>
    Author: Live to Write Another Day
  </div>
  
  
</article>