@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic,700italic);

//helvetica_neueregular
@font-face {
    font-family: 'helveticaneue-ultraligcond';
    src: url('helveticaneue-ultraligcond-webfont.eot');
    src: url('helveticaneue-ultraligcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneue-ultraligcond-webfont.woff') format('woff'),
         url('helveticaneue-ultraligcond-webfont.ttf') format('truetype'),
         url('helveticaneue-ultraligcond-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

//helvetica_neueregular
@font-face {
    font-family: 'helveticaneue-ultraligcondobl';
    src: url('helveticaneue-ultraligcondobl-webfont.eot');
    src: url('helveticaneue-ultraligcondobl-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneue-ultraligcondobl-webfont.woff') format('woff'),
         url('helveticaneue-ultraligcondobl-webfont.ttf') format('truetype'),
         url('helveticaneue-ultraligcondobl-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

//antique_book_cover_regularRg
@font-face {
    font-family: 'antique_book_cover_regularRg';
    src: url('antique_book_cover-webfont.eot');
    src: url('antique_book_cover-webfont.eot?#iefix') format('embedded-opentype'),
         url('antique_book_cover-webfont.woff') format('woff'),
         url('antique_book_cover-webfont.ttf') format('truetype'),
         url('antique_book_cover-webfont.svg#antique_book_cover_regularRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

//steinerregular
@font-face {
    font-family: 'steinerregular';
    src: url('steinerlight-webfont.eot');
    src: url('steinerlight-webfont.eot?#iefix') format('embedded-opentype'),
         url('steinerlight-webfont.woff') format('woff'),
         url('steinerlight-webfont.ttf') format('truetype'),
         url('steinerlight-webfont.svg#steinerregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

//exoregular
@font-face {
    font-family: 'exoregular';
    src: url('exo-regular-webfont.eot');
    src: url('exo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('exo-regular-webfont.woff') format('woff'),
         url('exo-regular-webfont.ttf') format('truetype'),
         url('exo-regular-webfont.svg#exoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}